body{
    margin: 0rem;
    padding: 0;
}
.clc-main{
    height: 91vh;
    margin:auto;
    padding-top: 2rem;
    text-align: center;
    background-color: #d3d3d3c5;

    /* background-color: rgb(209, 128, 29); */
}
.clc-bg{
    height: 91vh;
  /* text-align: center; */
  
}
.clc-body{
    background-color: #d3d3d3c5;
    height: 25.8rem;
    width: 17.5rem;
    margin: auto;
    border-radius: 10px;
    padding: 1.5rem 0.9rem 0rem 0.9rem;
    box-shadow:-8px -5px 15px 1px rgba(238, 238, 238, 0.795),
    7px 4px 10px 1px rgba(134, 133, 133, 0.637);
}
.clc-disply{
    background-color: #d3d3d3c5;
    margin-bottom: 0.1rem;
    height: 5.9rem;
    text-align: end;
    border-radius: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* box-shadow:-8px -5px 17px 1px white; */
    box-shadow:-8px -5px 10px 1px rgba(238, 238, 238, 0.795),
    7px 4px 10px 1px rgba(134, 133, 133, 0.637);
    
}
.clc-input-disply{
    /* background-color: rebeccapurple; */
    padding: 0.2rem 0.7rem 0 0;
    margin: 0;
    height: 2rem;
}
.clc-input-disply>p{
    font-size: 1.9rem;
    margin: 0;
}
.clc-output-disply{
    /* background-color: rgb(51, 129, 153); */
    padding: 0 0.7rem 0 0.4rem;
    margin: 1.1rem 0 0 0;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.clc-output-disply>p{
    font-size: 1.9rem;
    margin: 0;
}
.clc-output-disply>span{
    font-size: 1.9rem;
}
.clc-button{
    height: 16.9rem;
    width: fit-content;
    
}
.clc-button-row{
    /* background-color: brown; */
    height: fit-content;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.clc-button{
    height: 2.6rem;
    width: 3rem;
    border-radius: 15px;
    margin: 0;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight:600;
    color: rgb(95, 95, 95);
    background-color:  #d3d3d3c5;
    /* margin: 0 0.5rem 0 0.5rem; */
    box-shadow:-8px -5px 10px 1px rgba(238, 238, 238, 0.795),
    7px 4px 10px 1px rgba(134, 133, 133, 0.637);
}
.clc-button:hover{
    background-color:#adacac; 
}
.button-0{
    margin: 0;
    width: 8rem;
    border-radius: 15px;
    margin: 0;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight:600;
    color: rgb(95, 95, 95);
    background-color:  #d3d3d3c5;
    /* margin: 0 0.5rem 0 0.5rem; */
    box-shadow:-8px -5px 10px 1px rgba(238, 238, 238, 0.795),
    7px 4px 10px 1px rgba(134, 133, 133, 0.637);;
}
.button-0:hover{
    background-color:#adacac; 
}

